/* WARNING: Uses CSS 2.1 */

* {
    font-family: "Source Sans Pro", sans-serif !important;
    color: #3E3832;
}

html {
    height:100%;
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body::after {
    content: '';
    display: block;
}

#content {
    margin: 0;
}

#header {
    margin: 0;
}

#footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 25mm;
}

#nav_logo {
    width: 30mm;
    height: 18.9mm;
    margin: auto;
    padding: 0 0 10mm 0;
}

.line_top {
    border-top: 1px black solid;
}

.line_bottom {
    border-bottom: 1px black solid;
}

.line_left {
    border-left: 1px black solid;
}

.line_right {
    border-right: 1px black solid;
}

.block {
    width: 100%;
    margin-top: 0;
}

.inline {
    display: inline-block;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 3mm 0 2mm 0;
}

h2 {
    font-size: 26px;
    margin: 3mm 0 1.5mm 0;
}

h3 {
    font-size: 22px;
    margin: 3mm 0 1.5mm 0;
}

p {
    font-size: 16px;
    margin: 0.5mm 0 0 0;
}

tr {
    font-size: 10px;
}

.bold {
    font-weight: 700;
}

.checkbox {
    width: 3mm;
    height: 3mm;
    border: black 1px solid;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
}

.new_page {
    page-break-before: always;
}

.checkbox_title_right {
    margin-left: 5mm;
    font-size: 12px;
    vertical-align: middle;
}

.titled_checkbox_block {
    margin-left: 3mm;
    margin-bottom: 5mm;
}

.titled_checkbox_inline {
    display: inline;
    margin-left: 3mm;
}

.signature_date_title {
    font-size: 10px;
}

.centered_text_title {
    text-align: center;
    font-size: 12px;
}
