body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}

p {
    font-size: 0.875em; /* 14px/16=0.875em */
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 240px) {
    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.875em;
    }

    p {
        font-size: 0.750em;
    }
} 
