name: "Check for newer image versions"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

jobs:
  digest-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/digestabot@6c419f9c92ce6a841d25d44e1f91ae8d371ecdd3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          team: k9saksbehandling